=form_for [:admin, @gallery], :url => {:action=>:upload}, :html => {:multipart => true} do |f|
  .file-submit
    =file_field_tag 'images[]', :multiple => true
  %div
    =f.submit
-content_for :stylesheets do
  =stylesheet_link_tag 'gallery'
